<!DOCTYPE html>
<html>
<head>
	<title>MoGo</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container ">
    <div class="top-box">
        <header class="header">
            <nav class="header__nav">
                <h1 class="header__logo wow flip">MoGo</h1>
                <div id="switch-menu" data-switch="#nav-menu" class="switch-menu">
                    <span></span><span></span><span></span>
                </div>
                <div id="nav-menu" class="nav-menu">
                    <ul>
                    <li><a class="header__item" href="javascript://0" onclick="slowScroll('#abo')">About</a></li>
                    <li><a class="header__item" href="javascript://0" onclick="slowScroll('#cat')">Catalog</a></li>
                        <li><a class="header__item" href="javascript://0" onclick="slowScroll('#tem')">Team</a></li>
                        <li><a class="header__item" href="javascript://0" onclick="slowScroll('#con')">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div  class="header__content">
            <h2 class="header__title wow fadeInLeft">Creative Magazine</h2>
            <p class="header__text wow zoomInRight">Welcome to MoGo</p>
            <button  class="header__scroll wow jackInTheBox" href="javascript://0" onclick="slowScroll('#pep')">Learn more</button>
        </div><!--main-content-->
    </div><!--container-->
    <main class="main-box ">
        <div class="main_top">
        <div class="main_top__content " id="abo">
            <h2  class="main_top__title wow fadeInLeft ">What we do</h2>
            <p class="main_top__title-text wow fadeInRight">Story about us</p>
        </div>
            <div  class="main_top__img">
                <div class="main_top__img-img wow bounceInUp">
                    <div class="main_top__box-hover">
                        <div class="main_top__hover-content">
                        <img src="i/USERS.svg" alt="">
                            <div class="main_top__hover-text "><a href="javascript://0" onclick="slowScroll('#tem')">Super team</a></div>
                        </div>
                    </div>
                </div>
                <p class="main_top__text wow zoomIn"><a href="#">MoGo</a> having 13 years of experience in breeding birds, we decided to establish a company for retail and wholesale parrots and goods for their maintenance.Thousands of buyers have purchased feathered friends in our online store.  The majority of clients cooperate with us on a regular basis, regularly orders everything necessary for their pets. </p>
            </div>
        </div>
        <div class="main_center">
            <div class="main_center__content" id="cat">
                <h2 class="main_center__title wow fadeInLeft">What we sell</h2>
                <p class="main_center__text wow fadeInRight">Catalog</p>
            </div>

            <div id="app" class="app-container" >
                <div class="top-cart" v-if="cart.length" >

                    <div class="top-cart-info" >
                        <div class="container top-cart-info-container" >
                <span class="top-cart-info__item">
                     In the shopping cart - <span class="red-info">{{cart.length}}</span>,
                     for the amount of <span class="red-info">{{getTotal}}</span> UAN</span>
                            <span @click="showCart = !showCart"
                                  class="show-cart" >
                           {{ showCart ? 'Hide Trash':'Show Cart'}}
                        </span>
                        </div>
                    </div><!-- /.top-cart-info -->
                    <div class="top-cart-item" v-if="showCart">
                        <div class="container top-cart-title">
                            <p class="cart_item">Title</p>
                            <p class="cart_item">Price</p>
                            <p class="cart_item">Amount</p>
                            <p class="cart_item">Total</p>
                            <p class="cart_item"></p>
                        </div><!-- /.top-cart-grid-title-->

                        <div  v-for="item in cart"  class="top-cart-body">
                            <p class="cart-grid__item carts_item">
                                {{item.title}}
                            </p>
                            <p class="carts_item">{{item.price}}</p>
                            <p class="carts_item">{{item.qty}}</p>
                            <p class="carts_item">{{item.qty * item.price}}</p>
                            <p class="carts_item">
                                <i @click="removeFromCart(item.id)" class="fa fa-remove"></i>
                            </p>
                        </div><!-- /top-cart-grid-body -->
                        <div class="btn-check-box">
                            <button  @click="checkOrder" class="btn-check " >Checkout</button>
                        </div>
                    </div><!-- top-car-grid-->
                </div><!-- /.top-cart -->
                    <div class="filter-box wow bounceIn">
                        <div class="select-box">
                            <label class="filter-label">Category</label>
                            <select class="select-control" v-model="filterCat">
                                <option value="0">All</option>
                                <option v-for="cat in cats" :value="cat.id">{{cat.title}}</option>
                            </select>
                        </div><!-- /.select-box -->
                        <div class="price-select-box">
                            <label class="filter-label">Price</label>
                            <select class="select-control" v-model="filterPrice">
                                <option value="0">All</option>
                                <option value="500">500 UAN</option>
                                <option value="2500">2500 UAN</option>
                                <option value="3000">3000 UAN</option>
                                <option value="5000">5000 UAN</option>
                            </select>
                        </div><!-- /.price-select-box -->

                    </div><!-- /filter-box-->



                    <ul class="main-center__products-box wow zoomIn ">

                        <li  v-for="product in getProducts"  class="main-center__item">

                            <h3 class="main-center__title">{{product.title}}</h3>

                            <div class="main-center__img">
                                <img class="" :src="'i/paputs/' + product.im">
                            </div>
                            <div class="main-center__meta">
                                <p>{{product.price}}<span>UAN</span></p>

                                <div class="qty">
                                    <input :ref="'pr' + product.id" min="1" step="1" value="1" class="qty__item" type="number">
                                </div>

                                <button @click="addToCart(product)" class="main-center__btn">buy</button>

                            </div>

                        </li>
                    </ul><!-- /product-box-->
                </div>
        </div>
        <div class="main-bottom">
<div class="main-bottom__content" id="tem">
    <h2 class="main-bottom__title wow fadeInLeft">Who we are</h2>
    <p class="main-bottom__text-title wow fadeInRight">Meet our team</p>
</div>
<p class="main-bottom__text wow zoomIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <div class="main-bottom__personal wow bounceInUp">
                <div class="main-bottom__personal1 tem ">
                    <p class="personal__name">Matthew Dix</p>
                    <p class="personal__text">Administrator</p>
                    <div class="main-bottom__box-hover">
                        <div class="main-bottom__hover-content">
                            <ul>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-twitter" ></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="main-bottom__personal2 tem">
                    <p class="personal__name">Christopher Campbell</p>
                    <p class="personal__text">Photographer</p>
                    <div class="main-bottom__box-hover">
                        <div class="main-bottom__hover-content">
                            <ul>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-twitter" ></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-bottom__personal3 tem">
                    <p class="personal__name">Michael Fertig </p>
                    <p class="personal__text">Seller</p>
                    <div class="main-bottom__box-hover">
                        <div class="main-bottom__hover-content">
                            <ul>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-twitter" ></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="" class="main-bottom__hover-item"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slider">
            <div class="main-slider__content" id="pep">
                <h2 class="main-slider__title wow fadeInLeft">Reviews Clients</h2>
                <p class="main-slider__text wow fadeInRight">What people say</p>
            </div>
            <div class="slider wow lightSpeedIn">
                <div class="slider-box">
                    <div class="slider-box__img">
                    <img class="" src="i/slider-img1.png" alt="">
                    </div>
                    <div class="slider-box__content">
                        <p class="slider-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        <p class="slider-box__name">Matthew Dix</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="slider-box__img">
                    <img class="" src="i/slider-img2.png" alt="">
                    </div>
                    <div class="slider-box__content">
                        <p class="slider-box__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <p class="slider-box__name">Jaelynn Castillo </p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="slider-box__img">
                    <img class="" src="i/slider-img3.png" alt="">
                    </div>
                    <div class="slider-box__content">
                        <p class="slider-box__text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <p class="slider-box__name">Nick Karvounis</p>
                    </div>
                </div>
                <div class="slider-box">
                    <div class="slider-box__img">
                    <img class="" src="i/slider-img4.png" alt="">
                    </div>
                    <div class="slider-box__content">
                        <p class="slider-box__text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <p class="slider-box__name">Mike Petrucci</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

 <footer class="footer-box">
     <div class="footer-box__wrapper" id="con">
     <div class="footer-box__content wow fadeInLeft">
         <h2 class="footer-box__title">MoGo</h2>
         <p class="footer-box__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
         <ul class="footer-box__seti wow swing">
             <li class="footer-box__item">Follow Us:</li>
             <li><a class="footer-box__item" href=""><img src="i/facebook.svg" alt=""></a></li>
             <li><a class="footer-box__item" href=""><img src="i/twitter.svg" alt=""></a></li>
             <li><a class="footer-box__item" href=""><img src="i/pinterest.svg" alt=""></a></li>
             <li><a class="footer-box__item" href=""><img src="i/google.svg" alt=""></a></li>
             <li><a class="footer-box__item" href=""><img src="i/tumblr.svg" alt=""></a></li>
         </ul>
     </div>
         <div class="footer-box__dws-wrapper wow fadeInRight">
             <div class="footer-box__dws-container">
                 <form class="footer-box__formBox">
                     <div class="inputBox ">
                         <label class="labelText">Name:</label>
                         <input class="userInput" type="text" name="name" required>
                     </div>
                     <div class="inputBox">
                         <label class="labelText ">E-mail:</label>
                         <input class="userInput" type="email" name="name" required>
                     </div>
                     <div class="inputBox ">
                         <label class="labelText  ">Phone number:</label>
                         <input class="userInput" type="phone" name="name" required pattern="\d+">
                     </div>
                     <div class="inputBox">
                         <input type="checkbox" required>
                         <label class="personalDoc">I agree to the processing of my<a href="#">personal data</a></label>
                     </div>
                     <input type="submit" value="Send" class="footer-box__button wow shake">
                 </form>
             </div>
         </div>
     </div>
     <div class="footer-box__bottom">
         <div class="footer-box__bottom-content">
         <p class="footer-box__bottom-text">@Minaev Andrey 2018</p>
         </div>
         <ul class="footer-box__scrol-top">
             <li><a class="footer-box__item"  href="javascript://0" onclick="slowScroll('#abo')">About</a></li>
             <li><a class="footer-box__item" href="javascript://0" onclick="slowScroll('#cat')">Catalog</a></li>
             <li><a class="footer-box__item" href="javascript://0" onclick="slowScroll('#tem')">Team</a></li>
             <li><a class="footer-box__item"  href="javascript://0" onclick="slowScroll('#con')">Contact</a></li>
         </ul>
     </div>
 </footer>
</div>
<script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
<script src="js/vue.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="js/script.js"></script>
<script src="js/data.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            cats: defaultData.cats,
            products: defaultData.products,
            cart: [],
            showCart: false,
            filterCat: 0,
            filterPrice: 0
        },
        methods: {
            addToCart(item){
                const qty = parseInt(this.$refs['pr' + item.id][0].value);
                if(!qty) {
                    alert("Choose qty of product");
                    return false;
                }
                for(let product of this.cart) {
                    if(product.id === item.id) {
                        product.qty += qty;
                        return false;
                    }
                }
                this.cart.push({...item, qty})
            },
            removeFromCart(id){
                this.cart =  this.cart.filter(item => item.id !== id)
            },
            checkOrder(){
                alert("Thank you for order");
                this.cart = [];
            }
        },
        computed: {
            getProducts(){
                const filterCat = parseInt(this.filterCat);
                const filterPrice = parseInt(this.filterPrice);
                return this.products.filter(product => {
                    return  (!filterCat ||  product.cid === filterCat)
            && (!filterPrice || product.price <= filterPrice)
            })



            },
            getTotal(){
                return this.cart.reduce( (acc, item) => {
                    acc += parseInt(item.qty) * parseInt(item.price)
                return acc;
            }, 0)
            }
        }
    });

//</script>
</body>
</html>